
{%load static %}
{%block title%}{%endblock title%}
<link rel="stylesheet" href="../../static/app/css/style.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}"/>
<link rel="stylesheet" href="{% static 'app/css/all.min.css' %}"/>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{%block main-content%}
<div class="container">
     <div class="row my-3">
          <div class="col-sm-6 offset-sm-3">
               <h3>Customer Registration</h3>
               <hr>
               <form action="" method="post" novalidate class="shadow p-5">
                     {% csrf_token %}
                     {% for fm in form %}
                     {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                     <br>
                     {% endfor %}
                     <input type="submit" value="submit" class="btn btn-primary"><br>

                     <div class="text-center text-primary fw-bold">
                         <small>
                             Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now</a>
                         </small>
                     </div>
                     {% if form.non_field_error %}
                         {% for errors in form.non_field_error %}    
                           <p class="alert alert-danger my-3">{{error}}</p>
                         {% endfor %}
                     {% endif %}    
                        

                     {% if messages %}
                     {% for msg in messages%}
                     <div class="alert alert-{{msg.tags}}" role="alert">
                         {{msg}}
                     </div>
                     {%endfor%}
                    {% endif %}
               </form>
          </div>
     </div>
</div>



 
    

{%endblock main-content%}
