<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Digital Dalal street </title>
    <!-- <link rel="stylesheet" href="{% static 'app/css/style.css' %}"/> -->
    <link rel="stylesheet" href="../../static/app/css/style.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function menutoggle() {
            var dropdown = document.getElementById("productsDropdown");
            dropdown.classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

</head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

        <div class="bg-blue-200">
            
            <header class="py-4 shadow-sm bg-white">
                <div class="container flex items-center justify-between">
                    <div class="flex flex-row">
                        <a href="index.html" >
                            <img src="../../static/app/images/product/smlogo.png" alt="Logo" class="w-10 h-auto">
                            
                        </a>
                        <p class="ml-3 text-blue-700 font-bold text-xl flex items-center justify-center">
                            Digital Dalal Street
                        </p>

                    </div>
                   
                   
        
                    <div class="w-full max-w-xl relative flex">
                        <span class="absolute left-4 top-3 text-lg text-gray-400">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" name="search" id="search"
                            class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none hidden md:flex"
                            placeholder="search">
                        <button
                            class="bg-blue-700 border border-primary text-white px-8 rounded-r-md hover:bg-blue-600 transition hidden md:flex items-center justify-center">Search</button>
                    </div>
        
                    <div class="flex items-center space-x-4">
                        <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="text-xs leading-3">Wishlist</div>
                        
                        </a>
                        <a href="{% url 'cart' %}" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="text-xs leading-3">Cart</div>
                            <div
                            div id="cartAmount" class=" cartAmount">
                                2</div>
                        </a>
                





                        <a href="{% url 'account' %}" class="text-center text-gray-700 hover:text-primary transition relative">
                            <div class="text-2xl">
                                <i class="fa-regular fa-user"></i>  
                            </div>
                            <div class="text-xs leading-3">Account</div>
                        </a>
                    </div>
                </div>
            </header>    
            
            <nav class="flex items-center justify-start bg-blue-800 text-white">
                <ul class="flex space-x-4">
                    <li><a href="/" class=" hover:underline">Home</a></li>
                    <li class="relative group">
                        <a href="#" class=" hover:underline" onclick="menutoggle()">Products <i class="fa fa-caret-down"></i></a>
                        <div class="absolute hidden mt-2 space-y-2 bg-white rounded-md shadow-lg group-hover:block">
                            <a href="/item" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Books</a>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Accessories</a>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Merchandise</a>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Stationery Items</a>
                            <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-blue-100">Electronics</a>
                        </div>
                    </li>
                    <li><a href="#" class=" hover:underline">About</a></li>
                    <li><a href="#" class=" hover:underline">Contact</a></li>
                </ul>
            </nav>
            

            
        <div class="containers bg-blue-100 pt-14">
            <div class="row" style="padding-left: 82px;">
                <div class="col-2">
                <h1>Bringing a new revolution<br></h1>
                    <p>Start where you are. Use what you have. Do what you can.</p>
                    <a href="products.html" class="btn bg-blue-700 text-white">Explore Now &#8594;</a>
                </div>
                <div class="col-2" style="margin-bottom: 61px;"> 
                    <img src="{% static 'app/images/banner/bull.jpg' %}">
                </div>
            </div>
        </div>
        </div>
        
        <!------------------------------------------featured categories-------------------------------------->
        <div class="categories">
            <div class="container">
                <h2 class="title">Now Trending</h2>
        <div class="row">
            <div class="col-3">
                <a href="product-details.html"><img src="{% static 'app/images/product/category-9.jpg' %}"></a>
                <a href="product-details.html"><h4>Trading in the zone</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>&#8377 595</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-10.jpg' %}">
                <h4>Market wizards</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 699</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-11.jpg' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 1097</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-12.jpg' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 899</p>
            </div>    
            </div>
  <!---------------------------------------------------------New Arrivals--------------------------->
        <h2 class="title">New Arrivals</h2>
        <div class="row">
            <div class="col-3">
            <img src="{% static 'app/images/product/category-1.png' %}">
                <h4>Trading in the zone</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>&#8377 595</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-2.png' %}">
                <h4>Market wizards</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 699</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-3.png' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 1097</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-4.png' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 899</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-5.png' %}">
                <h4>Trading in the zone</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>&#8377 595</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-6.png' %}">
                <h4>Market wizards</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 699</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-7.png' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 1097</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-8.png' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 899</p>
            </div>
                </div>
            </div>
        </div>
       <!-------------------------offer-------------> 
       <div class="offer">
        <div class="small-container">
           <div class="row">
            <div class="col-2">
               <img src="{% static 'app/images/product/exclusive.png' %}">
               </div>
            <div class="col-2">
               <p>Exclusively Available on Trading Mentor</p>
                <h1>The Complete Guide To Day Trading</h1>
                <small>The Complete Guide to Day Trading You picked up this book because you’re serious about becoming a successful day trader. And, by reading this book, that’s exactly what you’ll learn how to do.<br></small>
               <a href="" class="btn">Buy Now &#8594;</a>
               </div>
            </div>
           </div>
        </div> 
        <!-------------------------------------Best Seller---------------------------------------->
        <div class="Best-seller">
            <div class="small-container">
                <h2 class="title">Best Sellers</h2>
        <div class="row">
            <div class="col-3">
                <img src="{% static 'app/images/product/category-13.jpg' %}">
                <h4>Trading in the zone</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>&#8377 595</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-14.jpg' %}">
                <h4>Market wizards</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 699</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-15.jpg' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 1097</p>
            </div>
            <div class="col-3">
            <img src="{% static 'app/images/product/category-16.jpg' %}">
                <h4>Beat the forex dealer</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>&#8377 899</p>
            </div>
                </div>
            </div>
        </div>
                
        <!------------------------testimonial------------------------------>
        <div class="testimonial">
        <div class="small-container">
            <h2 class="title">Featured Authors</h2>
            <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Traders focus almost entirely on where to enter a trade. In reality, the entire size is often more important than the entry price.<br></p>
                <img src="{% static 'app/images/product/author-1.jpg' %}">
                <h3>Jack Schwager</h3>
                </div>
                <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>If an umbrella line emerges during a downtrend, it is a signal that the downtrend should end.<br></p>
                <img src="{% static 'app/images/product/author-2.jpg' %}">
                <h3>Steve Nison</h3>
                </div>
                <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Buying without the ability to sell is like a football team that is all offense with no defense.<br></p>
                <img src="{% static 'app/images/product/author-3.jpg' %}">
                <h3>William O'Neil</h3>
                </div>
                <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Taking a few days off from wathing the market to clear your mind can be the best remedy for a losing streak.<br></p>
                <img src="{% static 'app/images/product/author-4.jpg' %}">
                <h3>Kathy Linen</h3>
                </div>
            </div>
            </div></div>
        <!----------------------------------footer--------------------------->
        <div class="footer">
        <div class="container">
            <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and IOS mobile phhone.</p>
                <div class="app-logo">
                <img src="{% static 'app/images/product/play-store.png' %}">
                    <img src="{% static 'app/images/product/app-store.png' %}">
                </div>
                </div>
            <div class="footer-col-2">
                <img src="{% static 'app/images/product/logo.png' %}">
                <p>Start where you are. Use what you have. Do what you can.</p>
                </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
                </ul>
                </div>
                <div class="footer-col-4">
                <h3>Follow us</h3>
                    <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
                </ul>
                </div>
            </div>
            </div>
            <div class="shop" style="display: none;" id="shop">


            </div>
        </div>
        <!-------------------------------------js for toggle menu-------------------------------------->
     
    </body>
    <script script="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script script="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/Data.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script> 
    
</html>